<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar-lewagon">
      <div class=".navbar-brand">
        <%= image_tag "logo.png", alt: "", width: 40%>
      </div>

      <ul class="mt-2">
        <li><%= link_to "My Lists", lists_path, {:style=>'color:#800020; text-decoration:none'} %></li>
        <li><%= link_to "New List", new_list_path, {:style=>'color:#800020; text-decoration:none'} %></li>
    </ul>
    </div>
    <%= yield %>
  </body>
</html>
